.navbar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;

  .navbar__wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .8rem;
    padding: 1rem 2rem;

    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );

    .navbar__item {
      list-style: none;

      a {
        position: relative;
        text-decoration: none;
        color: #ffffff;

        &:hover {
          &::after {
            width: 100%;
          }
        }

        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          background-color: #fff;
          height: .25rem;
          transition: width .15s;
          width: 0;
        }
      }
    }
  }
}
